<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    
  </head>

  <body>

    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class= "col-md-5"> </div>
          <div class= "col-md-4"> </div>
          <div class="col-md-3 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <button type="button" ui-sref="quiz" class="btn btn-circle btn-xl"> Find your new <br>favorite drink! <br><b>Take our quiz!</b><br>>></button>
              <!-- <button type="button" class="btn btn-circle btn-xl"> Check out <br> the <br><b>drink of the day!</b><br>>></button> -->
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div  style = "width: 600px; margin: 0 auto; text-align: center">
          <br><h6 class="mt-4" style="font-size: 40px; letter-spacing: 4px; color: #7AE550">Welcome to Boozy</h2>
          <p> We have you covered on your nights out. Or your mornings, your afternoons... We don't judge.
            Explore our extensive database of cocktail recipes, use out BAC calculator to make sure you're drinking
            responsibly, or take our cocktail quiz to get a handpicked reccommendation just for you.  
           </p>
          <p> <br><br>
            
          </p>
        </div>
        <!--<div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Start Bootstrap</strong>
            <br>3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">name@example.com</a>
          </address>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-sm-4 my-4" >
          <div class="card" style=  "text-align: center;">
            <img class="card-img-top" ui-sref="favorite"src="https://marketplace.canva.com/MADGxxaoWDY/4/screen/canva-clear-drinking-glass-with-slice-lemon-MADGxxaoWDY.jpg" alt="" style="width:250px;height:250px;"">
            <div class="card-body">
              <h6 class="card-title" style="font-size: 20px;">Favorite Drinks</h4>
              
            </div>
           <!--<span ng-if="vm.authentication.user">
                <div class="card-footer">
                  <a ui-sref="favorite" class="btn btn-primary">My Favorite Drinks!</a>
                </div>
              </span>
              <span ng-if="!vm.authentication.user">
              <div class="card-footer">
                <a ui-sref="BACunauth" class="btn btn-primary">My Favorite Drinks!</a> 
              </div>--> 
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card" style= "text-align: center; ">
            <img class="card-img-top" ui-sref="day" src="https://images.pexels.com/photos/1656542/pexels-photo-1656542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="width:250px;height:250px;">
            <div class="card-body">
              <h6 class="card-title" style="font-size: 20px;" ui-sref="day" >Drink of the Day</h4>
              <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
            </div>
            <div class="card-footer">
              <!--<a ui-sref="day" class="btn btn-primary">Go to Drink of the Day!</a>-->
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card" style= "text-align: center">
            <img class="card-img-top" ui-sref="browse" src="https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="width:250px;height:250px;">
            <div class="card-body">
              <h6 class="card-title" style="font-size: 20px;">Browse Drinks</h4>
             
            </div>
            <div class="card-footer">
              
            </div>
            <!-- <span ng-if="vm.authentication.user">
              <div class="card-footer">
                <a ui-sref="BACauth" class="btn btn-primary">Browse Drinks!</a>
              </div>
            </span>
            <span ng-if="!vm.authentication.user">
            <div class="card-footer">
              <a ui-sref="BACunauth" class="btn btn-primary">Go to BAC Calculator!</a>
            </div>
          </span> -->
            </div>
        </div>

      </div>
      <!-- /.row -->

    </div> <br><br>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Boozy 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
<style>
  img {
    height: 50px;
   width: 50px;
   border-radius: 50%;
}
img:hover {
  opacity: 0.4%;
  -webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
} 
</style>
</html>